.ipynb_checkpoints/

/1199295-Atkinson-SOM.*
/MarkingDataNominal.txt
/autotyp.csv
/bells_*.csv
/esm3-analyses.csv
/fboaward_menplayer2014_neutral.*
/glottolog-languoid.csv.zip
/landmask_mod44w_025.asc
/nonportmanteau.csv
/portmanteau_analyses.csv
/portmanteau_sample.csv
/pypi_archive/
/unesco_atlas_languages_limited_dataset.xml
/wals_language.csv.zip
