.ipynb_checkpoints/

/1199295-Atkinson-SOM.*
/MarkingDataNominal.txt
/autotyp.csv
/glottolog-languoid.csv.zip
/landmask_mod44w_025.asc
/nonportmanteau.csv
/portmanteau_analyses.csv
/portmanteau_sample.csv
/unesco_atlas_languages_limited_dataset.xml
/wals-language.csv.zip
