.ipynb_checkpoints/

/MarkingDataNominal.txt
/glottolog-languoid.csv.zip
/nonportmanteau.csv
/portmanteau_analyses.csv
/portmanteau_sample.csv
/unesco_atlas_languages_limited_dataset.xml
/wals-language.csv.zip
